.fraction-card {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 30px;
  row-gap: 20px;
  font-size: 0.95rem;
}

.fraction-card__img {
  @extend %picture;

  grid-row: span 3;
  align-self: start;
  padding-bottom: 120%;
  width: 100%;
  background-color: $white;
}

.fraction-card__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fraction-card__section {
  flex-grow: 1;
  grid-row: span 2;
  border-radius: $radius-base;
  padding: 24px 32px;
  background-color: $white;
}

.fraction-card__title {
  align-self: start;
}

.fraction-card__note {
  margin-bottom: 20px;
}

.fraction-card__list {
  @extend %list;
}

.fraction-card__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 25px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $gray-middle;
    transform: translateY(-50%);
  }
}
