.fraction-card {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 50px;
  row-gap: 30px;
  font-size: 0.95rem;
}

.fraction-card__img {
  @extend %picture;

  padding-bottom: 120%;
  width: 100%;
  background-color: $gray-light;
}

.fraction-card__section {
  grid-column-start: 1;
  grid-column-end: -1;
}

.fraction-card__note {
  margin-bottom: 20px;
}

.fraction-card__list {
  @extend %list;
}

.fraction-card__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 25px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $gray-middle;
    transform: translateY(-50%);
  }
}