
$radius-base:               3px;

$transition-base:           .3s cubic-bezier(.4,0,.2,1);

// ---------- Colors ------------
$gray-dark:                 #48494D;
$gray-middle:               #848e99;
$gray-light:                #d4d3cf;
$blue-light:                #aacce8;
$white:                     #ffffff;
$black:                     #000000;


// ---------- Fonts ------------
$font-family-base:          'Roboto', sans-serif;
$font-family-title:         'Open Sans', sans-serif;
$font-color-base:           $gray-dark;
$font-decoration:           $blue-light;

